@font-face
	font-family 'ProximaNova-Regular'
	src url('../fonts/proxima/hinted-subset-ProximaNova-Regular.woff2') format('woff2'), url('../fonts/proxima/hinted-subset-ProximaNova-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'ProximaNova-Bold'
	src url('../fonts/proxima/hinted-subset-ProximaNova-Bold.woff2') format('woff2'), url('../fonts/hinted-subset-ProximaNova-Bold.woff') format('woff')
	font-weight normal
	font-style normal


$pR = 'ProximaNova-Regular', Arial, sans-serif
$pB = 'ProximaNova-Bold', Arial, sans-serif
