include ../icon/icon

mixin respectometr()
	.respectometr
		ul.respectometr__list
			li.respectometr__item
				.respectometr__top
					.respectometr__photo(style="background-image: url('assets/images/content/user-1.png');") Фото игрока
					.respectometr__team(style="background-image: url('assets/images/content/team.png');") Kings
					.respectometr__gradient(style="background: linear-gradient(180deg, #4D3487 0%, rgba(76, 52, 134, 0.0001) 100%);")
				a.respectometr__name(href="#")
					span т. аллен
				ul.respectometr__scores
					li.respectometr__scores-item <span class="respectometr__scores-num">4.9</span> очков
					li.respectometr__scores-item <span class="respectometr__scores-num">2.3</span> подборов
					li.respectometr__scores-item <span class="respectometr__scores-num">4.9</span> передач
				.respectometr__bottom
					.respectometr__total <span>85%</span> респект
					.respectometr__rating
						a.respectometr__rating-button.respectometr__rating-button_down(href="#down")
							+icon('plus', true).respectometr__rating-icon
						a.respectometr__rating-button.respectometr__rating-button_up(href="#up")
							+icon('minus', true).respectometr__rating-icon

			li.respectometr__item
				.respectometr__top
					.respectometr__photo(style="background-image: url('assets/images/content/user-1.png');") Фото игрока
					.respectometr__team(style="background-image: url('assets/images/content/team.png');") Kings
					.respectometr__gradient(style="background: linear-gradient(180deg, #4D3487 0%, rgba(76, 52, 134, 0.0001) 100%);")

				a.respectometr__name(href="#")
					span т. аллен
				ul.respectometr__scores
					li.respectometr__scores-item <span class="respectometr__scores-num">4.9</span> очков
					li.respectometr__scores-item <span class="respectometr__scores-num">2.3</span> подборов
					li.respectometr__scores-item <span class="respectometr__scores-num">4.9</span> передач
				.respectometr__bottom
					.respectometr__total <span>85%</span> респект
					.respectometr__rating
						a.respectometr__rating-button.respectometr__rating-button_down(href="#down")
							+icon('plus', true).respectometr__rating-icon
						a.respectometr__rating-button.respectometr__rating-button_up(href="#up")
							+icon('minus', true).respectometr__rating-icon
			li.respectometr__item
				.respectometr__top
					.respectometr__photo(style="background-image: url('assets/images/content/user-1.png');") Фото игрока
					.respectometr__team(style="background-image: url('assets/images/content/team.png');") Kings
					.respectometr__gradient(style="background: linear-gradient(180deg, #4D3487 0%, rgba(76, 52, 134, 0.0001) 100%);")

				a.respectometr__name(href="#")
					span т. аллен
				ul.respectometr__scores
					li.respectometr__scores-item <span class="respectometr__scores-num">4.9</span> очков
					li.respectometr__scores-item <span class="respectometr__scores-num">2.3</span> подборов
					li.respectometr__scores-item <span class="respectometr__scores-num">4.9</span> передач
				.respectometr__bottom
					.respectometr__total <span>85%</span> респект
					.respectometr__rating
						a.respectometr__rating-button.respectometr__rating-button_down(href="#down")
							+icon('plus', true).respectometr__rating-icon
						a.respectometr__rating-button.respectometr__rating-button_up(href="#up")
							+icon('minus', true).respectometr__rating-icon

			li.respectometr__item.respectometr__item_no-team
				.respectometr__top
					.respectometr__photo(style="background-image: url('assets/images/content/user-2.png');") Фото игрока
				a.respectometr__name(href="#")
					span т. аллен
				.respectometr__bottom(style="background: linear-gradient(180deg, #F14029 0.82%, rgba(241, 64, 41, 0.0001) 100%), #1F252C;")
					.respectometr__total <span>85%</span> респект
					.respectometr__rating
						a.respectometr__rating-button.respectometr__rating-button_down(href="#down")
							+icon('plus', true).respectometr__rating-icon
						a.respectometr__rating-button.respectometr__rating-button_up(href="#up")
							+icon('minus', true).respectometr__rating-icon

			li.respectometr__item.respectometr__item_no-team
				.respectometr__top
					.respectometr__photo(style="background-image: url('assets/images/content/user-2.png');") Фото игрока
				a.respectometr__name(href="#")
					span т. аллен
				.respectometr__bottom(style="background: linear-gradient(180deg, #F14029 0.82%, rgba(241, 64, 41, 0.0001) 100%), #1F252C;")
					.respectometr__total <span>85%</span> респект
					.respectometr__rating
						a.respectometr__rating-button.respectometr__rating-button_down(href="#down")
							+icon('plus', true).respectometr__rating-icon
						a.respectometr__rating-button.respectometr__rating-button_up(href="#up")
							+icon('minus', true).respectometr__rating-icon
